<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.echarts.community.mapper.HumidityMapper">
    <resultMap id="BaseResultMap" type="com.echarts.community.entity.Humidity" >
        <result column="id" property="id" />
        <result column="create_time" property="createTime" />
        <result column="test_time" property="testTime" />
        <result column="hours" property="hours" />
        <result column="humidity" property="humidity" />
        <result column="address" property="address" />
    </resultMap>

    <select id="findAll" parameterType="com.echarts.community.entity.Humidity"  resultMap="BaseResultMap">
        select * from humidity
    </select>


</mapper>